<template>
    <div>
        <div>카카오 프렌즈</div>
        <Nuxt/>
        <div id="copyright">
            <p>
                경기도 안산시 상록구 월피동<br>
                010-4026-9007/ksb930204@naver.com<br>
                Copyright(C) saebom
            </p>

        </div>
    </div>

</template>
<style>
#copyright{
    padding: 15px;
    background-color: #333333;
    color: #ffff;
    font-size: 11px;
    line-height: 160%;
}
</style>
