<template>
    <div class="clear-both">
        <div class="content-left">
        <ul class="food-menu-group">
            <FoodItem
                v-for="(item, index) in foodList"
                v-bind:key="'foodItem' + index "
                v-bind:imageName="item.foodImage"
                v-bind:imageAlt="item.foodImaAlt"
                v-bind:title="item.foodName"
                @click.native="choiceFood(index)"
              />
        </ul>
    </div>
        <div class="content-right">

            <div v-if="selectedIndex != null">

                <div>이름 : {{ foodList[selectedIndex].foodName}}</div>
                <div>별명 : {{foodList[selectedIndex].nickname}}</div>
                <div>설명 : {{foodList[selectedIndex].description}}</div>
            </div>
        </div>
    </div>


</template>

<script>
export default {
    name: 'IndexPage',
    data() {
        return {
            selectedIndex: null,
            foodList: [
                {foodName: '무지', foodImage: '1.png', foodImaAlt: '무지', nickname: '귀요미', description: '행복해요'},
                {foodName: '어피치', foodImage: '2.png', foodImaAlt: '어피치', nickname: '깜찍이', description: '애교가 많아요'},
                {foodName: '라이언', foodImage: '3.png', foodImaAlt: '라이언', nickname: '퉁퉁이', description: '잠이 많아요'},
                {foodName: '튜브', foodImage: '4.png', foodImaAlt: '튜브', nickname: '삐쟁이', description: '잘삐져요'},
            ]
        }
    },
    methods: {
        choiceFood(index) {
            this.selectedIndex = index
        }
    }
}

</script>

<style>
div.content-left {
    float: left;
}
div.content-right {
    float: right;
}
ul.food-item-group {
    list-style: none;
}
.clear-both:after {
    content: '';
    display: block;
    clear: both;
}
ul.food-item-group li {
    float: left;
}

ul{
    list-style:none;
    padding-left:0px;
}
</style>

